.contact-container {
  padding: var(--padding);
  background-color: #d0d5dd65;
  min-height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contact-container .content h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  color: var(--main-color);
}

.contact-container .lets-talk {
  display: flex;
  gap: 16px;
}

.contact-container .lets-talk input {
  border-radius: 8px;
  padding: 20px 35px;
  width: 335px;
  font-size: 18px;
  border: 1px solid var(--border-color);
}

/* Footer Container */
.footer-container {
  padding: var(--padding);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  min-height: 350px;
  background-color: var(--main-color);
}

.footer-container .line {
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-nav {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}

.logo-nav img {
  height: 74px;
  width: 238px;
}

.logo-nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.logo-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.last {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  color: #ffffff59;
  font-weight: 300;
}

.last ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.logo-nav ul li {
  font-size: 16px;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container .line {
    width: 100%;
    margin: 20px 0;
    padding: 0;
  }

  .contact-container .content h2 {
    font-size: 36px;
  }

  .contact-container .lets-talk input {
    width: 100%;
  }

  .logo-nav ul {
    flex-direction: column;
    gap: 16px;
  }

  .last {
    flex-direction: column;
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .contact-container .content h2 {
    font-size: 32px;
  }

  .footer-container .line {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }

  .contact-container .lets-talk {
    flex-direction: column;
    gap: 8px;
  }

  .contact-container .lets-talk input {
    width: 100%;
  }

  .logo-nav ul {
    flex-direction: column;
    gap: 16px;
  }

  .last {
    flex-direction: column;
    gap: 16px;
  }
}

/* Phones */
@media (max-width: 480px) {
  .contact-container .content h2 {
    font-size: 28px;
  }

  .contact-container .lets-talk {
    flex-direction: column;
    gap: 8px;
  }

  .contact-container .lets-talk input {
    width: 100%;
    padding: 12px 16px;
    font-size: 18px;
  }

  .footer-container .line {
    width: 100%;
    margin: 10px 0;
    padding: 0;
  }

  .logo-nav ul {
    flex-direction: column;
    gap: 16px;
  }

  .last {
    padding: 30px 0;
    flex-direction: column;
    gap: 16px;
    text-align: center;
  }
}
